.p1 {
    /* 首行縮排 */
    text-indent: -4em;
    margin-left: 4em;
}
.p2 {
    text-indent: -2.5em;
    margin-left: 6.5em;
}
.p3 {
    /* 左右對齊 */
    text-align: justify;
    /* 單字間距 */
    word-spacing: 5px;
    /* 字母間距 */
    letter-spacing: 1px;
}
.p3 span {
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    /* text-decoration:line-through; */
    /* 斜體 */
    font-style: italic;
    font-weight: bold;
}

body {
    margin: 0;
}

.navbar {
    background-color: black;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 124.88px;
}

.navbar ul {
    margin: 0;
}

.navbar ul li {
    list-style-type: none;
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navbar a:hover {
    color: yellow;
}

.container {
    padding: 170px 15px 50px;
}

header {
    padding: 20px;
    background-image: url(https://pic.616pic.com/bg_w1180/00/14/86/YCnYPJmxlf.jpg);
    background-size: 100% 300px;
    font-family: 徵軟正黑體;
    color: rgb(222, 236, 138);
    position: fixed;
    width: 100%;
    top: 0;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    position:fixed;
    bottom: 0;
    width: 100%
}

.icon {
    /* 絕對定位 */
    /* position:absolute;
    top: 300px;
    left: 100px; */
    /* 相對定位 */
    /* position: relative;
    left: 50px;
    top: -100px; */
}

.container a {
    text-decoration: none;
    background-color: brown;
    color: aliceblue;
    display: block;
    width: 200px;
    text-align: center;
    padding: 20px 50px;
    margin: auto;
    border-bottom: 3px solid rgb(17, 11, 1);
    border-radius: 100px;
}

.container a:hover {
    background-color: yellow;
    color:red;
}

.container a:active {
    border-bottom: none;
}
